<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">

<!-- Doc Links - Secret Server Mobile - main-->
  <t:site key="ssmobile">/ssm</t:site>
  <t:site key="ThycoticPAMGuide">/ssm</t:site>
  <t:site key="SSTroubleshootingClients">/ssm/1.0.0/ts/index.md</t:site>
  <t:site key="SecretServerMaxOfflineKB">/ss/10.9.0/mobile/maximum-offline-caching</t:site>  

<!-- Doc Links - Marketing Emails-->

  <t:site key="SSMRNsLatest">/ssm/1.6.0/release-notes/rn-1.6.0.md</t:site>

<!-- AppStore Links-->
  <t:site key="ThycoticPAM_IPA">https://www.apple.com/lae/ios/app-store/</t:site>
  <t:site key="ThycoticPAM_APK">https://play.google.com/store/apps</t:site>
  <t:site key="ThycoticPAM_All">https://updates.thycotic.net/secretserver/mobile/latestversion/ThycoticPAM.zip</t:site>
</t:sites>